@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #D4DDB1;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
}

.header .nomesite {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

.header .titulo {
    font-family: "Irish Grover", system-ui;
    font-weight: 100;
    align-self: center;
    font-size: 2.5rem;
}


.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    list-style: none;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Itim", cursive;
    font-size: 1.8rem;
}

.caixaCadastro,
.caixaLogin {
    padding: 0.3rem;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 1rem;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.caixaCadastro {
    background-color: #CDB28A;
}

.caixaLogin {
    background-color: #7A6448;
}

.beneficios .titulo {
    font-family: "Irish Grover", system-ui;
    font-weight: 100;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    letter-spacing: 0.15rem;
}

.beneficios .traco1 {
    background-color: #D4DDB1;
    display: flex;
    justify-self: center;
    width: 40%;
    height: 0.5vh;
    border-radius: 50px;
    margin: 0 auto;
}

.beneficios .traco2 {
    background-color: #D4DDB1;
    display: flex;
    justify-self: center;
    width: 25%;
    height: 0.5vh;
    border-radius: 50px;
    margin: 0.6% auto 0 auto;
}

.beneficios .linha1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: row;
    gap: 15%;
}

.beneficios .concentracao,
.beneficios .cerebro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F9F4E3;
    height: 300px;
    width: 300px;
    padding: 10%;
    border-radius: 50px;
    font-family: "Itim", cursive;
    color: #7A6448;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 11%;
    padding-bottom: 7.5%;
}

.beneficios .concentracao img,
.beneficios .cerebro img {
    height: 250px;
    margin-top: -50px;
}

.beneficios .linha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: row;
    gap: 11%;
}

.beneficios .criatividade,
.beneficios .sensocritico,
.beneficios .aprendizado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F9F4E3;
    height: 300px;
    width: 300px;
    padding: 10%;
    border-radius: 50px;
    font-family: "Itim", cursive;
    color: #7A6448;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 11%;
    padding-bottom: 7.5%;
}

.beneficios .criatividade img,
.beneficios .sensocritico img,
.beneficios .aprendizado img {
    height: 250px;
    margin-top: -50px;
}

.KPIinicialfundo {
    background: linear-gradient(to top, #F9F4E3 0%, #F9F4E3 30%, #ffffff 100%);
    width: 100%;
    font-family: "Itim", cursive;
    font-size: 1.5rem;
    margin-top: 0px;
    padding-bottom: 20%;
    border-top: solid white 3px;
}

.KPIinicial {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.KPIinicial .coluna1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CDB28A;
    height: 700px;
    width: 350px;
    border-radius: 50px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 11%;
    padding-bottom: 7.5%;
    margin-right: 7%;

}

.KPIinicialfundo .capalivro {
    margin-top: 15%;
    width: 60%;
}

.KPIinicialfundo .coluna2 .quadrado1,
.KPIinicialfundo .coluna2 .quadrado2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CDB28A;
    height: 330px;
    width: 350px;
    border-radius: 50px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 11%;
    padding-bottom: 7.5%;
    gap: 10%;
}

.KPIinicialfundo .coluna2 .quadrado1 {
    margin-bottom: 15%;
}

.KPIinicialfundo .coluna2 .numero {
    font-size: 5rem;
}

.footer {
    width: 100%;
    height: fit-content;
    background-color: #7A6448;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Irish Grover", system-ui;
    font-weight: 100;
    margin-top: auto;
}

.footer .nomesite {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 15%;
    margin-top: -1.5%;
}

.footer .links a {
    color: white;
    font-family: "Itim", cursive;
}

.footer .linhadivisoria {
    background-color: white;
    display: flex;
    justify-self: center;
    width: 90%;
    height: 0.1vh;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 0.5%;
}

.footer .sobre {
    list-style: none;
}

.footer .sobre a {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Itim", cursive;
    margin-top: 1%;
}

.footer .redessociais {
    display: flex;
    justify-content: center;
    gap: 0.5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.fundosobre {
    background: linear-gradient(to top, #F9F4E3 0%, #F9F4E3 30%, #ffffff 100%);
    font-family: "Itim", cursive;
}

.fundosobre .linha1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    align-items: center;
    font-size: 3rem;
    margin-top: 10%;
    text-align: center;
}

.fundosobre .pilhalivros {
    border-radius: 50px;
    height: 30rem;
}

.fundosobre .linha2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5%;
    align-items: center;
    font-size: 3rem;
    margin-top: 10%;
    text-align: center;
}

.fundosobre .avaliacoes {
    border-radius: 50px;
    height: 30rem;
    margin: 3.5%;
}

.fundosobre .calculadora {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
    width: 100%;
}

.fundosobre .textocalculadora {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    font-size: 3rem;
    margin-top: -44%;
    text-align: center;
    margin-left: 38%;
    margin-right: 38%;
}

.fundosobre .espaco {
    width: 100%;
    height: 55rem;
}

.fundocadastro {
    background-color: #f6f1de;
    min-height: 65rem;
}

.fundocadastro .caixa {
    border: 2px solid #CDB28A;
    border-radius: 20px;
    padding: 40px;
    width: 450px;
    text-align: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    color: #CDB28A;
    font-family: "Itim", cursive;

}

.fundocadastro .caixa h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 100;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form label {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;

}

.form input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    outline: none;
}

.form button {
    background-color: #CDB28A;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    font-family: "Itim", cursive;
}

.form .campo {
    display: flex;
    flex-direction: column;
}

.fundologin {
    background-color: #f6f1de;
    min-height: 65rem;
}

.fundologin .caixa {
    border: 2px solid #7A6448;
    border-radius: 20px;
    padding: 40px;
    width: 450px;
    text-align: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    color: #7A6448;
    font-family: "Itim", cursive;

}

.fundologin .caixa h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 100;
}

.fundologin .form button {
    background-color: #7A6448;
}

.fundocalculadora {
    background-color: #f6f1de;
    min-height: 100rem;
}

.fundocalculadora .caixa {
    border: 2px solid #7A6448;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 50%;
    height: 80%;
    padding-left: 5%;
    padding-right: 5%;
    color: #7A6448;
    font-family: "Itim", cursive;

}

.fundocalculadora .caixa h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 100;
}

.fundocalculadora .form button {
    background-color: #7A6448;
}

.fundocalculadora .tempo input {
    width: 100%;
    border-radius: 50px 0 0 50px;
}

.fundocalculadora .tempo select {
    outline: none;
    font-family: "Itim", cursive;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 0 50px 50px 0;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5'%3E%3Cpath fill='rgb(135, 135, 135)' d='M0 0l4 5 4-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px top 40%;
    background-size: 8px 5px;
}

.fundocalculadora .tempo {
    display: flex;
    justify-content: space-between;
}

.fundocalculadora .form .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fundocalculadora .navbar a, .fundocadastrolivro .navbar a, .fundobiblioteca .navbar a, .poslogin .navbar a {
    font-size: 1.5rem;
}

.fundocalculadora .form .nomelivro {
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    outline: none;
}

.fundocalculadora .form a {
    color: #7A6448;
}

.fundocalculadora .select2-container--default .select2-selection--single {
    background-color: white !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 4px !important;
    outline: none !important;
    height: auto !important;
}

.fundocalculadora .select2-container {
    width: 100% !important;
}

.fundocalculadora .select2-selection--single {
    width: 100% !important;
    box-sizing: border-box !important;
}

.fundocalculadora .botoes {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.fundocalculadora .botoes .calcular,
.fundocalculadora .botoes .feedbacks {
    width: 43%;
}

.fundocadastrolivro {
    background-color: #f6f1de;
    min-height: 75rem;
}

.fundocadastrolivro .caixa {
    border: 2px solid #CDB28A;
    border-radius: 20px;
    padding: 40px;
    width: 450px;
    text-align: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    color: #CDB28A;
    font-family: "Itim", cursive;

}

.fundocadastrolivro .caixa h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 100;
}

.fundocadastrolivro .radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.fundocadastrolivro .radio .linha1 {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.fundocadastrolivro .radio .linha2 {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.fundocadastrolivro .radio p {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.fundobiblioteca {
    background-color: #f6f1de;
    min-height: 65rem;
    display: flex;
    flex-direction: column;
}

.fundobiblioteca .inicio {
    flex: 1;
    padding-bottom: 2rem;
    font-family: "Itim", cursive;
    color: #7A6448;
    font-size: 1.5rem;
}

.fundobiblioteca .topo {
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 1%;
    margin-left: 2%;
}

.fundobiblioteca .select2-container--default .select2-selection--single {
    background-color: white !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 4px !important;
    outline: none !important;
    height: auto !important;
}

.fundobiblioteca .select2-container {
    width: 25% !important;
    text-align: center;
}

.fundobiblioteca .select2-selection--single {
    width: 100% !important;
    box-sizing: border-box !important;
}

.fundobiblioteca .topo .areacadastro {
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-top: 1%;
}

.fundobiblioteca .topo .areacadastro button{
    border-radius: 50px;
    border: none;
    background-color: #D4DDB1;
    padding: 0.5%;
    color: white;
    font-family: "Itim", cursive;
    font-size: 1.15rem;
    cursor: pointer;
}